---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$body-font-style: normal;
$small-font-size: 14px;
$body-line-height: 1.6;
$spacing-unit: 30px;
$body-text-color: #111;

$base-font-family: "Open Sans", "Noto Sans", "Noto Sans CJK KR", Verdana, Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 18px;
$iso-font-family: "Vollkorn", "Noto Serif", "Noto Serif CJK KR", Georgia, "Times New Roman", serif;
$iso-font-weight: 500;
$iso-font-size: 18px;
$heading-font-family: "Roboto Slab", "Noto Serif", "Noto Serif CJK KR", Georgia, "Times New Roman", serif;
$heading-font-weight: 400;
$heading-scale: 2;
$mono-font-family: "Source Code Pro", "Noto Sans", "Noto Sans CJK KR", "Courier New", monospace;
$mono-font-weight: 400;

$background-color: #fdfdfd;
$link-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$on-palm: 600px;
$on-laptop: 800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";
