<footer class="site-footer">


  <div class="wrapper">
  <div>
  <p>
  We're not doomed.
  In the grand scheme of things, we're just tiny specks that will one day be forgotten.
  The only thing that matters is right now.
  This one spectacular moment we are sharing together.
  Right, Sarah Lynn?
  </p>
  </div>


    <div class="footer-column-1">
      <div class="wrapper">
        <img class="profile" src="/assets/img/profile.png" width="360px">
      </div>
      <br>

      <div class="wrapper">
        <a href="http://twitter.com/violapterin">
          <span class="twitter-icon"></span>
        </a>

        <a href="mailto:violapterin@gmail.com">
          <span class="gmail-icon"></span>
        </a>

        <a href="http://github.com/violapterin">
          <span class="github-icon"></span>
        </a>
      </div>
    </div>

    <div class="footer-column-2">
      <p><strong>violapterin</strong></p>
      <p class="text">
        A science student, an amateur author, <br />
        a curious composer, a luckless lad.
      </p>
    </div>
  </div>
</footer>
